# Misc
.DS_Store
.AppleDouble
.LSOverride
logs
*.log
.env.*
.env

# Node.js
node_modules

# Test artifacts
**/chromium.json
**/firefox.json
**/webkit.json
**/backup-phrase.txt
test-results
/test-results/
/playwright/.cache/
playwright-report
/playwright-report/
